:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.graphic {
  position: absolute;
  width: 865px;
  height: 2096px;
  top: -536px;
  left: -195px;
  background: url(./assets/images/16975df80101986463b3bd8a287c7de02c598b8e.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.dark {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: -1px;
  left: 1.5px;
  background: url(./assets/images/c8f466ec-d001-4a3b-86e3-4a2869be693c.png)
    no-repeat center;
  background-size: cover;
}
.header {
  position: absolute;
  width: 785px;
  height: 151px;
  top: 0;
  left: 655px;
  background: #2585b5;
  z-index: 5;
  overflow: hidden;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 663px;
  height: 29px;
  margin: 66px 0 0 101px;
  z-index: 11;
}
.about-us {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 6;
}
.portfolio {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 9;
}
.contact-us {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 11;
}
.flex-row-1 {
  position: relative;
  width: 560px;
  height: 29px;
  margin: 7px 0 0 11px;
  z-index: 10;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 231px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 8;
}
.events {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 483px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 10;
}
.skulldawg-logo {
  position: absolute;
  width: 1231px;
  height: 692px;
  top: 166px;
  left: 156px;
  background: url(./assets/images/c7bb9041c895e4bc32a6b17921e23578aed04720.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.label {
  position: absolute;
  width: 1206px;
  height: 662px;
  top: 183px;
  left: 206px;
  background: #d9d9d9;
  z-index: 2;
}
.footer {
  position: absolute;
  width: 785px;
  height: 151px;
  top: 873px;
  left: 655px;
  background: #2585b5;
  z-index: 4;
  overflow: hidden;
}
