:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-column-cdb {
  position: absolute;
  width: 1606px;
  height: 1560px;
  top: -536px;
  left: -166px;
  z-index: 9;
}
.rectangle {
  position: absolute;
  width: 865px;
  height: 2096px;
  top: 0;
  left: 0;
  background: url(./assets/images/16975df80101986463b3bd8a287c7de02c598b8e.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.header {
  position: absolute;
  width: 785px;
  height: 151px;
  top: 536px;
  left: 821px;
  background: #2585b5;
  z-index: 2;
  overflow: hidden;
}
.flex-row-fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 663px;
  height: 29px;
  margin: 66px 0 0 101px;
  z-index: 8;
}
.about-us {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 3;
}
.portfolio {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.contact-us {
  flex-shrink: 0;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.flex-row-be {
  position: relative;
  width: 560px;
  height: 29px;
  margin: 7px 0 0 11px;
  z-index: 7;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 4;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 231px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 5;
}
.events {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 483px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 7;
}
.footer {
  position: absolute;
  width: 785px;
  height: 151px;
  top: 1409px;
  left: 821px;
  background: #2585b5;
  z-index: 9;
  overflow: hidden;
}
.rectangle-1 {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 39px;
  left: 6px;
  background: url(./assets/images/6a4aa28f-9d5e-4cff-a7ed-7580960e3bd8.png)
    no-repeat center;
  background-size: cover;
}
.form-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 550px;
  height: 750px;
  top: 137px;
  left: 1497px;
  background: #ffffff;
  z-index: 10;
  overflow: hidden;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 361px;
  padding: 30px 30px 30px 30px;
  background: #ffffff;
  z-index: 11;
  overflow: hidden;
}
.frame-2 {
  flex-shrink: 0;
  position: relative;
  width: 65px;
  height: 65px;
  z-index: 12;
  overflow: hidden;
}
.clip-path-group {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0.5px 0 0 0.5px;
  z-index: 13;
  -webkit-mask-image: url(./assets/images/a5972c68-457e-46ac-af61-746f452ae648.png);
  -webkit-mask-size: cover;
}
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 14;
}
.vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/94d4ea9c-5164-477b-91d0-ec27db9a6fc6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.thank-you {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.form-submitted-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Work Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  position: absolute;
  width: 550px;
  height: 559px;
  top: 232px;
  left: 752px;
  padding: 40px 20px 20px 20px;
  background: #f7f8f9;
  z-index: 18;
  overflow: hidden;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  min-width: 0;
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  z-index: 19;
  overflow: hidden;
  max-width: 700px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  z-index: 20;
}
.question {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 18.768px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.frame-5 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 40px;
  padding: 0 15px 0 15px;
  background: #f8f9fa;
  border: 1px solid #e5e5e5;
  z-index: 22;
  overflow: hidden;
  border-radius: 4px;
}
.type-here {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.try-again {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #f91c1c;
  font-family: Work Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  z-index: 25;
}
.email-address {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 18.768px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.frame-6 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 40px;
  padding: 0 15px 0 15px;
  background: #f8f9fa;
  border: 1px solid #e5e5e5;
  z-index: 27;
  overflow: hidden;
  border-radius: 4px;
}
.example-email {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.try-again-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #f91c1c;
  font-family: Work Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  z-index: 30;
}
.your-message {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 18.768px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.frame-8 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 120px;
  padding: 15px 15px 15px 15px;
  background: #f8f9fa;
  border: 1px solid #e5e5e5;
  z-index: 32;
  overflow: hidden;
  border-radius: 4px;
}
.type-here-9 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Work Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.error-message {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #f91c1c;
  font-family: Work Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.submit {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 90px;
  height: 40px;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  background: #853ff9;
  border: none;
  z-index: 35;
  border-radius: 8px;
}
.submit-a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #ffffff;
  font-family: Work Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
